= form_for @track do |f|
  - if @track.errors.any?
    #error_explanation
      %h2= "#{pluralize(@track.errors.count, "error")} prohibited this track from being saved:"
      %ul
        - @track.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
    = f.file_field :icon
  .actions
    = f.submit 'Save'

    %ul.list-group
      - @track.courses.each do |course|
        %li.list-group-item= course.title

= form_for @course_track do |f|
  - if @course_track.errors.any?
    #error_explanation
      %h2= "#{pluralize(@course_track.errors.count, "error")} prohibited this course_track from being saved:"
      %ul
        - @course_track.errors.full_messages.each do |message|
          %li= message

  .field
    = f.hidden_field :track_id, value: @track.id
  .field
    = f.label :course
    = f.collection_select(:course_id, Stack.all, :id, :title)
  .actions
    = f.submit 'Add'
          
