%h1 Tracks

%tbody
  .card-columns
    - @tracks.each do |track|
      .card.track-card
        .card-body
          = image_tag track.icon
          %h2= track.title
          .btn-group
            = link_to 'Select track', '#', class: 'btn btn-sm btn-success'
            = link_to 'Check it out', track, class: 'btn btn-sm btn-light'

= link_to 'New Track', new_track_path()
