%h1 Tracks

%tbody
  .card-columns
    - @tracks.each do |track|
      .card
        .card-body
          %p
            = image_tag track.icon
          %h2= track.title
          %ul.list-group
            - track.stacks.each do |stack|
              %li.list-group-item= stack.title
          %td= link_to 'Show', track
          %td= link_to 'Edit', edit_track_path(track)
          %td= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New Track', new_track_path
