%p#notice= notice

%p
  = link_to tracks_path, class: 'btn btn-sm btn-link' do
    %i.icon.ion-android-arrow-back
    Tracks

.card.library-intro
  .card-body.track-show
    .row
      .col-md-6.offset-md-3.text-center
        = image_tag @track.icon if @track.icon.exists?
        %h2= @track.title
        %p
          TIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem.
        %h5
          Ready to start losing weight?
        %p
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a.
        %p
          -# TODO: change text based on which track is selected
          = link_to 'Select Track', select_track_path(@track), method: :post, class: 'btn btn-success'
  .card-body.track-show-courses
    -# TODO: render course collection
    .col-md-6.offset-md-3
      %h2 Included Courses
      %ul.list-group
        - @track.courses.each do |course|
          %li.list-group-item
            = image_tag course.icon
            = course.title


= link_to 'Edit', edit_track_path(@track)
\|
= link_to 'Back', tracks_path
