= form_for @stack do |f|
  - if @stack.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stack.errors.count, "error")} prohibited this stack from being saved:"
      %ul
        - @stack.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :category_id
    = f.collection_select(:category_id, Category.all, :id, :title)
  .field
    = f.file_field :icon
  .field
    = f.label :color
    = f.text_field :color
  .actions
    = f.submit 'Save'
