%h1 Listing stacks

%table
  %thead
    %tr
      %th Title
      %th Category
      %th
      %th
      %th

  %tbody
    - @stacks.each do |stack|
      %tr
        %td= stack.title
        %td= stack.category
        %td= link_to 'Show', stack
        %td= link_to 'Edit', edit_stack_path(stack)
        %td= link_to 'Destroy', stack, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Stack', new_stack_path
