%p
  = link_to library_path, class: 'btn btn-sm btn-link' do
    %i.icon.ion-android-arrow-back
    Back to Library
    = render 'show_admin_buttons'
= render partial: 'stack_header', locals: {stack: @stack}
.col-md-8.offset-md-2
  .card.stack-header_card
    .card-body
      %p.stack-category{style: "color: #{@stack.category_color}"}
        %i.icon.ion-edit
        = @stack.category_title
      %h2.stack-title= @stack.title
      %p.stack-course-indicator Course
      %p.stack-header-summary= @stack.summary

      .text-center
        = link_to 'Begin Course', @stack.lessons.first, class: 'btn btn-sm btn-white-text', style: "background-color: #{@stack.category_color}"

      %p.stack-lesson-title Lessons
      .lessons-list
        = render @stack.lessons