= form_for @course_track do |f|
  - if @course_track.errors.any?
    #error_explanation
      %h2= "#{pluralize(@course_track.errors.count, "error")} prohibited this course_track from being saved:"
      %ul
        - @course_track.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :track
    = f.text_field :track
  .field
    = f.label :course
    = f.text_field :course
  .actions
    = f.submit 'Save'
