%h1 Listing course_tracks

%table
  %thead
    %tr
      %th Track
      %th Stack
      %th
      %th
      %th

  %tbody
    - @course_tracks.each do |course_track|
      %tr
        %td= course_track.track
        %td= course_track.course
        %td= link_to 'Show', course_track
        %td= link_to 'Edit', edit_course_track_path(course_track)
        %td= link_to 'Destroy', course_track, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Stack track', new_course_track_path
