%footer
  %div
    %ul
      %li
        %a{:href => "#"}
          = image_tag "fb.png"
      %li
        %a{:href => "#"}
          = image_tag "ig.png"
      %li
        %a{:href => "#"}
          = image_tag "twitter.png"
  %div
    %ul
      %li
        = link_to "Home", root_path
      %li
        = link_to "Services", services_path
      %li
        = link_to "Why Choose Us", choose_us_path
      %li
        = link_to "Our Program", our_program_path
      %li
        = link_to "Get Started", get_started_path
      %li
        = link_to "Contact Us", contact_us_path
  %div &#169; Copyright West Coast Weight Loss Center 2016. All Rights Reserved.
  %div
    %a{:href => "terms-and-conditions.html"} Terms and Conditions
    |
    %a{:href => "privacy-policy.html"} Privacy Policy
