%nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  .container
    .navbar-header
      %button.navbar-toggler{'type': 'button', 'data-toggle': 'collapse', 'data-target': '#navbarNav', 'aria-controls': 'navbarNav', 'aria-expanded': false, 'aria-label': 'Toggle navigation'}
        %span.navbar-toggler-icon
      %a.navbar-brand{:href => root_path} West Coast Weight Loss Center
    .collapse.navbar-collapse#navbarNav
      %ul.navbar-nav
        - if current_user&.admin?
          -# %li.nav-item= link_to 'Panel', panel_path, class: 'nav-link'
        - if user_signed_in?
          %li.nav-item= link_to 'Library', library_path, class: 'nav-link'
          %li.nav-item= link_to 'Settings', edit_user_registration_path, class: 'nav-link'
          %li.nav-item= link_to 'Sign out', destroy_user_session_path, class: 'nav-link', method: :delete
        - else
          %li.nav-item= link_to 'Home', root_path, class: 'nav-link'
          -# %li= link_to "Sign in", new_user_session_path, class: "#{'nav-active' if params[:action] == 'new' && params[:controller] == 'users/sessions'}"
          -# %li= link_to "Sign up", new_user_registration_path, class: "#{'nav-active' if params[:action] == 'new' && params[:controller] == 'devise/registrations'}"

