= form_for @lesson do |f|
  = link_to @course.title, @course
  - if @lesson.errors.any?
    #error_explanations
      %h2= "#{pluralize(@lesson.errors.count, "error")} prohibited this lesson from being saved:"
      %ul
        - @lesson.errors.full_messages.each do |message|
          %li= message
  = f.text_field :title, class: 'form-control lesson-form', placeholder: 'Title'
  = f.text_area :body, :class => "tinymce lesson-form", placeholder: 'Body'
  = tinymce
  = f.hidden_field :course_id, value: @course.id
  = f.submit 'Save', class: 'btn btn-success'