= form_for @lesson do |f|
  - if @lesson.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lesson.errors.count, "error")} prohibited this lesson from being saved:"
      %ul
        - @lesson.errors.full_messages.each do |message|
          %li= message
  .form-group
    .field
      = f.label :stack
      = f.collection_select(:stack_id, Stack.all, :id, :title)
    = f.text_field :title, class: 'form-control'
  = tinymce
  = f.text_area :body, :class => "tinymce"
  .field
    = f.label :position
    = f.number_field :position
  .actions
    = f.submit 'Save', class: 'btn btn-success'
