%h2 Lessons
- if current_user.admin?
  = link_to 'New Lesson', new_lesson_path, class: 'btn btn-primary'
  %small #{User.all.count} Users

.panel-lessons
  - @lessons.each do |lesson|
    %p.panel-lessons-lesson
      %span.panel-week-number
        Week #{lesson.position}
      = link_to lesson.title, lesson
      - if current_user.admin?
        %span.panel-lessons-lesson-links
          = link_to "Edit", edit_lesson_path(lesson), data: { no_turbolink: true }
          = link_to "Delete", lesson, method: :delete, data: { confirm: 'Are you sure?' }
