%p
  = link_to @stack, class: 'btn btn-sm btn-link' do
    %i.icon.ion-android-arrow-back
    Back to #{@stack.title}
.lesson-show-stack
  = link_to @stack do
    .card-body{style: "background-color: #{@stack.category.color}"}
      = image_tag @stack.icon.url
      %span= @stack.title
      %li.stack-index_progressicon
      %li.stack-index_progressicon
      %li.stack-index_progressicon.stack-index-progressicon-done
.stack-show-lesson
  .card-body
    .row
      .col-md-8.offset-md-2
        %p.stack-show-lesson_body_summary.lesson-lesson Lesson
        %h2.lesson-title= @lesson.title
        .card-text.lesson-text= @lesson.body.html_safe
        - if current_user.completed?(@lesson)
          = link_to 'Completed', complete_path(Lesson, @lesson), method: :delete, class: 'btn btn-sm btn-success'
        - else
          = link_to 'Mark Complete', complete_path(Lesson, @lesson), method: :post, class: 'btn btn-sm btn-light'

- if current_user&.admin?
  = link_to 'Edit lesson', edit_lesson_path(@lesson), class: 'btn btn-sm btn-link'
  %button{"data-path" => "#{link_to 'Delete stack', lesson_path(@lesson), method: :delete, class: 'btn btn-danger'}", "data-target" => "#deleteModal", "data-toggle" => "modal", :type => "button", id: 'deleteModal', class: 'btn btn-sm btn-link'} Delete lesson
