%nav.breadcrumb
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to @lesson.stack.category.title, @lesson.stack.category
    %li.breadcrumb-item
      = link_to @lesson.stack.title, @lesson.stack
    %li.breadcrumb-item.active= @lesson.title
.card
  .card-body
    %h2= @lesson.title
    .card-text= @lesson.body.html_safe
