%p#notice= notice

%p
  %b Title:
  = @lesson.title
%p
  %b Body:
  = @lesson.body
%p
  %b Position:
  = @lesson.position
%p
  %b User:
  = @lesson.user

= link_to 'Edit', edit_lesson_path(@lesson)
\|
= link_to 'Back', lessons_path
