%p
  = link_to @stack, class: 'btn btn-sm btn-link' do
    %i.icon.ion-android-arrow-back
    Back
= render partial: 'stacks/stack_header', locals: {stack: @stack}
.col-md-10.offset-md-1
  .card.stack-header_card
    .card-body
      %p.stack-category{style: "color: #{@stack.category_color}"}
        %i.icon.ion-edit
        = @stack.category_title
      %h2.stack-title= @stack.title

      = render partial: 'course_indicator', locals: {stack: @stack, current: @lesson}

      %h2.lesson-title= @lesson.title
      .card-text.lesson-text= @lesson.body.html_safe
      - if CompletionHandler.complete?(current_user, @lesson)
        = link_to 'Completed', lesson_incomplete_path(@lesson), method: :delete, class: 'btn btn-sm btn-white-text', style: "background-color: #{@stack.category_color}"
      - else
        = link_to 'Mark Complete', lesson_complete_path(@lesson), method: :post, class: 'btn btn-sm btn-light'

- if current_user&.admin?
  = link_to 'Edit lesson', edit_lesson_path(@lesson), class: 'btn btn-sm btn-link'
  %button{"data-path" => "#{link_to 'Delete stack', lesson_path(@lesson), method: :delete, class: 'btn btn-danger'}", "data-target" => "#deleteModal", "data-toggle" => "modal", :type => "button", id: 'deleteModal', class: 'btn btn-sm btn-link'} Delete lesson
