= form_for @stack do |f|
  = @category.title
  .stack-show-lesson
    .stack-index_body{style: "background-color: #{@category.color}"}
      = image_tag @stack.icon.url
    .stack-index_body
      %p.stack-show-lesson_body_summary Course
      = f.text_field :title, class: 'form-control stack-form', placeholder: 'Title'
      = f.hidden_field :category_id, value: @category.id
      = f.text_area :summary, class: 'form-control stack-form', placeholder: 'Summary'
      = f.file_field :icon
      .actions
        = f.submit 'Save', class: 'btn btn-sm btn-success'
  - if @stack.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stack.errors.count, "error")} prohibited this stack from being saved:"
      %ul
        - @stack.errors.full_messages.each do |message|
          %li= message
