=link_to 'Back to Billing', billing_path

%h1 Choose plan
.plans
  .row
    .col-md-6
      .card
        .card-body
          %h5.card-title
            Starter
            .float-right.small.text-muted #{Plan::STARTER[:price]}
          %hr
          %p.card-text Something goes here, so it goes here when it usually does.
          = form_tag(url: choose_plan_path) do
            = hidden_field_tag(:plan, 'starter')
            = submit_tag("Choose Starter", class: 'btn btn-success')
      %ul
        %li Something goes here, that dgoes oaisdjoai here.
        %li Something else goes here that wasn't her bfoer.
        %li OSIoiwjs oiasjdoais iouwiuq jsljsiauda loiqop pdp asdasd.
        %li Moiasdj wimoias us oiwjiqmms oiadoaidj ptlr tsiaojs d.
        %li Something goes here, that dgoes oaisdjoai here.
        %li Something else goes here that wasn't her bfoer.
        %li OSIoiwjs oiasjdoais iouwiuq jsljsiauda loiqop pdp asdasd.
        %li Moiasdj wimoias us oiwjiqmms oiadoaidj ptlr tsiaojs d.

    .col-md-6
      .card
        .card-body
          %h5.card-title
            Premium
            .float-right.small.text-muted #{Plan::PREMIUM[:price]}
          %hr
          %p.card-text Something goes here, so it goes here when it usually does.
          = form_tag(url: choose_plan_path) do
            = hidden_field_tag(:plan, 'premium')
            = submit_tag("Choose Premium", class: 'btn btn-success')
      %ul
        %li Something goes here, that dgoes oaisdjoai here.
        %li Something else goes here that wasn't her bfoer.
        %li OSIoiwjs oiasjdoais iouwiuq jsljsiauda loiqop pdp asdasd.
        %li Moiasdj wimoias us oiwjiqmms oiadoaidj ptlr tsiaojs d.
        %li Something goes here, that dgoes oaisdjoai here.
        %li Something else goes here that wasn't her bfoer.
        %li OSIoiwjs oiasjdoais iouwiuq jsljsiauda loiqop pdp asdasd.
        %li Moiasdj wimoias us oiwjiqmms oiadoaidj ptlr tsiaojs d.            