%h1 Choose plan

= form_tag(url: choose_plan_path) do
  = hidden_field_tag(:name, Plan.basic[:name])
  = submit_tag("$#{Plan.basic[:price]} Basic", class: 'btn btn-success')

= form_tag(url: choose_plan_path) do
  = hidden_field_tag(:name, Plan.premium[:name])
  = submit_tag("$#{Plan.premium[:price]} Premium", class: 'btn btn-success')